table {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    width: 80%;
}

thead {
    font-weight: bold;
    text-align: center;
}

tbody {
    text-align: center;
}

.sums>td {
    border: 1px solid black;
    text-align: right;
}

.sums .value {
    text-align: center;
}

#foodName {
    text-align: left;
}

tbody #cell {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 5px; 
    font-size: 16px;
}

#btn-edit {
    text-align: left;
}

#btn-delete {
    text-align: right;
}

.del{
    color: white;
    background-color: red;
    border-radius: 50%;
    border: none;
}



