table {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    min-width: 30%;
    width: 80%;
}

thead {
    font-weight: bold;
    text-align: center;
}

tbody {
    text-align: center;
}

.sums {
    border-top: 1px solid black;
}

#align>td {
    text-align: right;
}

#align .value {
    text-align: center;
}

#foodName {
    text-align: left;
}

tbody #cell {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 5px;
    font-size: 16px;
}

#btn-edit {
    text-align: left;
}

#btn-delete {
    text-align: right;
}

.del {
    color: white;
    background-color: red;
    border-radius: 50%;
    border: none;
}

#paymentValidation {
    display: flex;
    align-items: center;
    justify-content: center;
}

#paymentValidation button {
    margin: 1em;
}

.inputValue {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}