<div class="inputValue">
    <input type="text" placeholder="Order Name or Number" [(ngModel)]="orderId"  />
</div>
<table>
    <thead>
        <tr>
            <th>Items</th>
            <th>#</th>
            <th>Price</th>
            <th>Amount</th>
        </tr>
    </thead>
        <tbody id="tableRows">
            <tr *ngFor="let item of cartItems">
                <td id="foodName">
                    <div id="cell"> {{item.name}}</div>
                </td>
                <td>
                    <div id="cell">{{item.quantity}}</div>
                </td>
                <td>
                    <div id="cell">{{item.price | currency}}</div>
                </td>
                <td>
                    <div id="cell">{{item.amount | currency}}</div>
                </td>
                <td id="btn-edit">
                    <div class="btn-edit"><button (click)="edit(item)">Edit</button></div>
                </td>
                <td id="btn-delete">
                    <div><button class="del" (click)="delete(item)">X</button></div>
                </td>
            </tr>
        </tbody>
    <tbody>
        <tr class="sums" id="align">
            <td class="totals" colspan="3">Subtotal</td>
            <td class="value">{{ calculateSubtotal() | currency}}</td>
        </tr>
        <tr id="align">
            <td class="totals" colspan="3">Tax</td>
            <td class="value">{{ calculateTax() | currency}}</td>
        </tr>
        <tr id="align">
            <td class="totals" colspan="3">Total</td>
            <td class="value">{{ calculateGrandTotal() | currency}}</td>
        </tr>
    </tbody>
</table>

<div id="paymentValidation">
    <button class="btn" (click)="paymentCard()">Card</button>
    <button class="btn" (click)="paymentCash()">Cash</button>
    <button class="btn" (click)="cancleOrder()">Cancel Order</button>
</div>