h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: rgb(213, 225, 232);
}

main {
    border: 1px solid white;
    margin: 2em;
    margin-bottom: auto;
    border-radius: 15px;
    background-color: white;
}

section {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 15px;
}

div.food, #cart {
    margin: inherit;
    border: 2px solid rgb(46, 66, 130);
    border-radius: 15px;
}

#entree,
#combo,
#drink,
#cart {
    margin: 1em;
    background-color: rgb(234, 242, 246);
}

h2 {
    text-align: center;
    margin-bottom: auto;
}

img {
    min-width: 50px;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0.5rem;
    width: auto;
}

footer {
    margin: 2em;
    font-size: 1.2rem;
}

table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    width: 80%;
  }

thead {
    font-weight: bold;
}

td {
    border: 1px solid black;
    text-align: center;
}

.paymentValidation {
    margin-left: 2.7rem;
    width: 80%;
}
