<h1>
  Food Ordering System
</h1>
<main>
  <section>
    <article id="food">
      <div id="entree">
        <h2>Entree</h2>
        <img src="assets/ent_101.jpg" alt="Pad Thai"><img src="assets/ent_102.jpg" alt="Pad Thai"><img
          src="assets/ent_103.jpg" alt="Pad Thai"><img src="assets/ent_104.jpg" alt="Pad Thai"><img
          src="assets/ent_105.jpg" alt="Pad Thai"><img src="assets/ent_106.jpg" alt="Pad Thai"><img
          src="assets/ent_107.jpg" alt="Pad Thai"><img src="assets/ent_108.jpg" alt="Pad Thai">
      </div>
      <div id="combo">
        <h2>Combo</h2>
        <img src="assets/com_201.jpg" alt="Pad Thai"><img src="assets/com_202.jpg" alt="Pad Thai"><img
          src="assets/com_203.jpg" alt="Pad Thai"><img src="assets/com_204.jpg" alt="Pad Thai">
      </div>
      <div id="drink">
        <h2>Bobba Tea</h2>
        <img id="teaImg" src="assets/bob_301.jpg" alt="Pad Thai"><img src="assets/bob_302.jpg" alt="Pad Thai"><img
          src="assets/bob_303.jpg" alt="Pad Thai"><img src="assets/bob_304.jpg" alt="Pad Thai"><img
          src="assets/bob_305.jpg" alt="Pad Thai"><img src="assets/bob_306.jpg" alt="Pad Thai"><img
          src="assets/bob_307.jpg" alt="Pad Thai">
      </div>
    </article>
    <article id="total">
      <div id="cart">
        <h2>Cart</h2>
        <table>
          <thead>
            <tr>
              <td>Items</td>
              <td>#</td>
              <td>Price</td>
              <td>Amt.</td>
            </tr>
          </thead>
          <tbody id="tableRows">
            
          </tbody>
        </table>
      </div>
    </article>
  </section>
  <footer>
    <em>Copyright &copy; 2024 Quashi Cuisine</em>
  </footer>
</main>