<h1>
  Food Ordering System
</h1>
<main>
  <section>
    <article>
      <div class="food" id="entree" *ngFor="let entree of entreeContent">
        <h2>{{entree.title}}</h2>
        <img *ngFor="let item of entree.food" src="assets/{{item.filename}}"
          (click)="addToCart(item.name, entree.price);">
      </div>
      <div class="food" id="combo" *ngFor="let combo of comboContent">
        <h2>{{combo.title}}</h2>
        <img *ngFor="let item of combo.food" src="assets/{{item.filename}}"
          (click)="addToCart(item.name, combo.price);">
      </div>
      <div class="food" id="drink" *ngFor="let bobba of drinkContent">
        <h2>{{bobba.title}}</h2>
        <img *ngFor="let item of bobba.food" src="assets/{{item.filename}}"
          (click)="addToCart(item.name, bobba.price);">
      </div>
    </article>
    <article>
      <div id="cart">
        <h2>Cart</h2>
        <table>
          <thead>
            <tr>
              <td>Items</td>
              <td>#</td>
              <td>Price</td>
              <td>Amt.</td>
            </tr>
          </thead>
          <tbody id="tableRows">
            <app-cart (cartValue)="cartItem"></app-cart>
            <tr class="totals">
              <td colspan="3">Subtotal</td>
              <td></td>
              <!-- <script>outputCurrency(subtotal)</script> -->
            </tr>
            <tr class="totals">
              <td colspan="3">Tax</td>
              <td></td>
              <!-- <script>outputCurrency(taxAmount)</script> -->
            </tr>
            <tr class="totals">
              <td colspan="3" class="focus">Total</td>
              <td class="focus"></td>
              <!-- <script>outputCurrency(grandTotal)</script> -->
            </tr>
          </tbody>
        </table>
        <button class="paymentValidation" (click)="confirmPayment()"> Confirm Payment</button>
        <p>{{counter}}</p>
      </div>

    </article>
  </section>
  <footer>
    <em>Copyright &copy; 2024 Quashi Cuisine</em>
  </footer>
</main>