<h1>
    Kitchen Display System
</h1>
<main>
    <section class="container">
        <article *ngFor="let data of foodContent">
            <div class="items">
                <h2 class="header">{{data.nameOrNum}}</h2>
                <span *ngFor="let order of data.items"> {{order.quantity}} {{order.name}}</span>
                <div class="btn-ready">
                    <button (click)="ready(data.nameOrNum)">Ready</button>
                </div>
            </div>
        </article>
    </section>
</main>