/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(158, 147, 141);
    margin: 2em;
}

header {
    background-color: rgb(211, 237, 250);
    color: white;
    padding: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
    color: #000;
    cursor: pointer;
    padding: 10px;
    width: 80%;

    &.active {
        background-color: rgb(237, 151, 38);
    }
}

li:hover {
    background-color: rgb(128, 128, 128);
    color: #fff;
}


h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: rgb(213, 225, 232);
}

main {
    border: 1px solid white;
    margin: 2em;
    margin-bottom: auto;
    border-radius: 15px;
    background-color: white;

}

section{
    display: flex;
}

.selection {
    width: 70%;
}

.cart-body {
    width: 30%;
}

.food,
#cart {
    margin: 2em;
    border: 2px solid rgb(46, 66, 130);
    border-radius: 15px;
}

// #cart {
//     min-height: %;
// }

#entree,
#combo,
#drink,
#cart {
    margin: 1em;
    background-color: rgb(211, 237, 250);
}

h2 {
    text-align: center;
    margin-bottom: auto;
}

img {
    min-width: 50px;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0.5rem;
    width: auto;
}

footer {
    margin: 1em;
    font-size: 1.5em;
}